<div class="message-all">
  <% if current_user == sender %>
    <% all_shops_message = current_user.messages.sort{|a,b| b.created_at <=> a.created_at}.map {|message| message.shop.name} %>
    <% if all_shops_message == [] %>
      <p> Vous n'avez pas encore de messages </p>
    <% else %>
    <%  all_shops_message.uniq.each do |shop| %>
    <% shopp = Shop.find_by(name: shop) %>
      <%= link_to new_shop_user_message_path(shopp, current_user.id) do %>
        <div class="person-recap <%=  shopp == shop_actual ? "active-conv" : "" %>">

          <% if shopp.shop_photos == []  %>
            <img src="https://makerepo.com/assets/default-avatar-19cf8cebb96b4d8beff4ef9cad0e5903d288c778c503777332a57085a65371be.png" alt="", class= "avatar">
          <% else %>
            <%= cl_image_tag shopp.shop_photos.first.photo, class: "avatar"%>
          <% end %>
          <div class="preview">
            <div class="talking-to-name">
               <p> <%= shopp.name %> </p>
            </div>
            <div class="last-message-preview">
              <% last_message = Message.where(user: [sender, shopp.user]).where(shop: shopp).last %>
              <% if last_message.content.length > 30 %>
              <p> <%= last_message.content[0,30] + "..." %> </p>
              <% else %>
              <p> <%= last_message.content%> </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% end %>
  <% else  %>
    <% all_user_with_me = @shop.messages.map {|message| message.user.email} %>
    <% all_user_messages = all_user_with_me - [current_user.email] %>

    <% all_user_messages.uniq.each do |user|%>
      <% talking_user = User.find_by(email: user) %>
      <%= link_to new_shop_user_message_path(@shop,talking_user) do %>
        <div class="person-recap">
          <% if talking_user.photo == []  %>
            <img src="https://makerepo.com/assets/default-avatar-19cf8cebb96b4d8beff4ef9cad0e5903d288c778c503777332a57085a65371be.png" alt=""class= "avatar">
          <% else %>
            <%= cl_image_tag talking_user.photo, class: "avatar"%>
          <% end %>
          <div class="preview">
            <div class="talking-to-name">
               <p> <%= talking_user.first_name %> </p>
            </div>
            <div class="last-message-preview">
              <% last_message = Message.where(user: [current_user, sender]).where(shop: current_user.shops.first).last %>
              <p> <%= last_message.content[0,30] %> </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
