<div class="all-page">
  <div class="link-to-back">
    <%= link_to city_shop_path(City.find_by(name: "Fontainebleau"), params[:shop_id]) do %>
        <p> <i class="fas fa-arrow-circle-left"></i> Retourner au magasin</p>
    <% end %>
  </div>
  <Div class="container">

    <div class="messagerie-header">
      <p>Messagerie d'Hexagone pour te rapprocher de tes commerçants !</p>
    </div>

    <Div class="messagerie">

      <div class="messagerie-recap">


        <div class="messagerie-search">
          <i class="fas fa-search"></i>
          <p>Search</p>
        </div>



        <div class="message-all">

          <% if current_user == @sender %>
            <% all_shops_message = current_user.messages.sort{|a,b| b.created_at <=> a.created_at}.map {|message| message.shop.name} %>
            <%  all_shops_message.uniq.each do |shop| %>
            <% shopp = Shop.find_by(name: shop) %>
              <%= link_to new_shop_user_message_path(shopp, current_user.id) do %>
                <div class="person-recap">
                  <% if shopp.shop_photos == []  %>
                    <img src="https://makerepo.com/assets/default-avatar-19cf8cebb96b4d8beff4ef9cad0e5903d288c778c503777332a57085a65371be.png" alt="", class= "avatar">
                  <% else %>
                    <%= cl_image_tag shopp.shop_photos.first.photo, class: "avatar"%>
                  <% end %>
                  <div class="preview">
                    <div class="talking-to-name">
                       <p> <%= shopp.name %> </p>
                    </div>
                    <div class="last-message-preview">
                      <% last_message = shopp.messages.where(user: current_user).last %>
                      <% if last_message.content.length > 30 %>
                      <p> <%= last_message.content[0,30] + "..." %> </p>
                      <% else %>
                      <p> <%= last_message.content%> </p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else  %>
            <% all_user_with_me = @shop.messages.map {|message| message.user.email} %>
            <% all_user_messages = all_user_with_me - [current_user.email] %>
            <% all_user_messages.uniq.each do |user|%>
              <% talking_user = User.find_by(email: user) %>
              <%= link_to new_shop_user_message_path(@shop,talking_user) do %>
                <div class="person-recap">
                  <% if talking_user.photo == []  %>
                    <img src="https://makerepo.com/assets/default-avatar-19cf8cebb96b4d8beff4ef9cad0e5903d288c778c503777332a57085a65371be.png" alt=""class= "avatar">
                  <% else %>
                    <%= cl_image_tag talking_user.photo, class: "avatar"%>
                  <% end %>
                  <div class="preview">
                    <div class="talking-to-name">
                       <p> <%= talking_user.first_name %> </p>
                    </div>
                    <div class="last-message-preview">
                      <% last_message = @messages.last %>
                      <p> <%= last_message.content[0,30] %> </p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>


      <Div class="messagerie-chat">

        <Div class="talking-to">
          <% if current_user == @sender %>
          <h4> <%= @shop.name %> </h4>
          <% else  %>
          <h4> <%= @sender.first_name %> </h4>
          <% end %>
        </Div>

        <div class="message-feed">
          <% @messages.each do |message| %>
            <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>

        <div id="shop-chat" data-shop-id="<%= @shop.id %>" data-current-id="<%= current_user.id %>" data-user-id="<%= @sender.id %>">
          <div class="send-message">
            <%= simple_form_for [@shop, @sender, @message], remote: true do |f| %>
              <%= f.input :content, class:"form-control", label: false, placeholder: "Votre message ..." %>
              <%= f.submit "Envoyer",  id: "create-message"%>
            <% end %>
          </div>
        </div>

      </Div>
    </Div>
  </div>
</div>


