<div class="all-page">
  <div class="link-to-back">
    <%= link_to city_shop_path(City.find_by(name: "Fontainebleau"), params[:shop_id]) do %>
        <p> <i class="fas fa-arrow-circle-left"></i> Retourner à la boutique</p>
    <% end %>
  </div>
  <Div class="container">
    <div class="messagerie-all">
    <div class="messagerie-header">
      <p>Messagerie d'Hexagone pour te rapprocher de tes commerçants !</p>
    </div>

    <Div class="messagerie">

      <div class="messagerie-recap">


        <div class="messagerie-search">
          <i class="fas fa-search"></i>
          <p>Search</p>
        </div>



        <div class="message-all">
          <%= render "messages/message_list", shop_actual: @shop%>
        </div>
      </div>


      <Div class="messagerie-chat">

        <Div class="talking-to">
          <% if current_user == @sender %>
          <h4> <%= @shop.name %> </h4>
          <% else  %>
          <h4> <%= @sender.first_name %> </h4>
          <% end %>
        </Div>

        <div class="message-feed">
          <% @messages.each do |message| %>
            <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>

        <div id="shop-chat" data-shop-id="<%= @shop.id %>" data-current-id="<%= current_user.id %>" data-user-id="<%= @sender.id %>">
          <div class="send-message">
            <%= simple_form_for [@shop, @sender, @message], remote: true do |f| %>
              <%= f.input :content, :as => :string,class:"form-control", label: false, placeholder: "Votre message ..." %>
            <% end %>
          </div>
        </div>

      </Div>
    </Div>
    </div>
  </div>
</div>


