<%= simple_form_for([@shop]) do |f| %>
  <%
  array = City.all.map do |city|
    city.name
  end
  cities = array.uniq
  array_2 = Shop.all.map do |shop|
    shop.category
    end
  categories = array_2.uniq%>


  <div class="form-group">
    <%= f.input :name, label: "Nom de votre commerce", label_html: { class: 'labels' }%>
  </div>
  <div class="form-group">
     <%= f.input :address, label: "Adresse de votre commerce"%>
  </div>
  <div class="form-group submit">
    <%= f.input :phone_number, label: "Votre numéro de téléphone"%>
  </div>
  <div class="form-group submit">
    <%= f.input :description, label: "Décrivez votre commerce en quelques mots"%>
  </div>


  <div class="form-group submit">
    <%= f.label "Votre ville"%>
    <%= f.select :city, cities %>
  </div>

  <div class="form-group submit">
    <%= f.label "Catégorie de magasin"%>
    <%= f.select :category, categories %>
  </div>


  <div class="form-group submit">
    <%= f.submit "Enregistrer votre magasin", class: "btn btn-primary"%>
  </div>
<% end %>
