<div class="wrapper container-search">
  <%= link_to request.referer.present? ? request.referer : search_cities_path(query: @city.name) do %>
      <p> <i class="fas fa-arrow-circle-left"></i> Retour</p>
  <% end %>
</div>

<% if @filtered_results.empty? %>
  <div class="wrapper wrapper-des-section-titles">
    <div class="card-section-title">
      <h2>Cocorico ! Tellement d'activité dans ta ville ! <br> Regarde ce qu'Hexagone a dégoté pour toi : </h3>
    </div>
  </div>
  <!-- les evenements -->
  <div class="wrapper wrapper-des-section-titles">
    <div class="check-events best-events">
        <div class="card-section-title">
            <h3>Voici les évènements que nous te proposons de découvrir !</h3>
        </div>
        <div class="card-section-explanatory-p">
          <p>Dans cette section, tu peux voir le résultat des <strong>évènements</strong> en cours ou à venir qui correspondent à ta recherche. Tu peux cliquer sur la carte pour accéder à plus d'informations. <br> Avec Hexagone, tu (re)découvres tes commerçants !</p>
        </div>
    </div>
  </div>
  <% if @events.length < 3%>
    <div class="wrapper wrapper-des-cards">
      <div class="row events-with-slick evenement-card-flexbox left-align-slick">
        <% @events.each do |event| %>
          <%= render partial: 'shared/city_show_event_card', locals: {event: event} %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="wrapper wrapper-des-cards">
      <div class="row events-with-slick evenement-card-flexbox">
        <% @events.each do |event| %>
          <%= render partial: 'shared/city_show_event_card', locals: {event: event} %>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- les offres -->
  <div class="wrapper wrapper-des-section-titles">
    <div class="check-offers">
        <div class="card-section-title">
          <h3>Et les offres que nous te demandons de ne pas rater !</h3>
        </div>
        <div class="card-section-explanatory-p">
          <p>Dans cette section, tu peux voir le résultat des <strong>offres</strong> en cours ou à venir qui correspondent à ta recherche. Tu peux cliquer sur la carte pour accéder à plus d'informations. <br> Avec Hexagone, tu es le/la gourou des promos de ta ville !</p>
        </div>
    </div>
  </div>
  <div class="wrapper wrapper-des-cards">
    <div class="row events-with-slick">
      <% @offers.each do |event| %>
        <%= render partial: 'shared/city_show_offers_card', locals: {event: event} %>
      <% end %>
    </div>
  </div>
  <!-- les magasins -->
  <div class="wrapper wrapper-des-section-titles">
    <div class="shops-all">
      <div class="card-section-title">
        <h3>Pour rappel, voici les boutiques qui cernent ta recherche</h3>
      </div>
      <div class="card-section-explanatory-p">
        <p>Dans cette section, on t'a listé l'ensemble des boutiques, si possible indépendantes, qui correspondent à ta recherche. <br> Avec Hexagone, tu apprends à connaître l'offre commerçante de ta ville !</p>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-des-shops">
    <div class="shop-cards relative-position">
      <% @shops.each do |shop| %>
        <%= render partial: 'shared/shop_card', locals: {shop: shop} %>
      <% end %>
    </div>
  </div>

<% else %>
  <div class="container">
    <div class="card-section-title">
      <h2>Cocorico ! Tellement d'activité dans ta ville ! <br> Regarde ce qu'Hexagone a dégoté pour toi : </h3>
    </div>
  </div>
  <% if params[:query_shops] == "events" %>
    <div class="container">
      <div class="row">
        <% @filtered_results.each do |event| %>
          <div class="col-xs-12 col-sm-4">
            <%= render partial: 'shared/search_show_event_card', locals: {event: event} %>
          </div>
        <% end %>
      </div>
    </div>

  <% elsif params[:query_shops] == "offers" %>

    <div class="container">
      <div class="row">
        <div class="events-no-slick col-xs-12">
          <% @filtered_results.each do |event| %>
            <div class="col-xs-12 col-sm-4 check-that-bottom-margin">
              <%= link_to city_shop_path(@city, event.shop) do %>
                <div class="event-free_card hover-on-card-to-description">
                  <div class="event-info_section">
                    <div class="event-free_header hover-on-card-to-description">
                      <h3><strong><%= event.category %></strong></h3>
                      <h5><%= event.shop.name %></h5>
                      <h5><%= event.name %></h5>
                      <h5>Jusqu'au <%= event.end_date.day %> <%= @months["#{event.end_date.month}"] %> <%= event.end_date.year %></h5>
                      <p><%= event.description %></p>
                    </div>
                  </div>
                  <div class="event-blur_back" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill %>');"></div>
                </div>
              <% end %>
              <div class="add-to-calendar-offer-link-on-search">
                <% if current_user.calendars.where(event_id: event.id) == [] %>
                  <%= link_to city_shop_event_calendars_path(@city, event.shop, event), method: :post, remote: true do %>
                    <button type="button" data-event-id="<%= event.id %>" class="btn btn-secondary add-to-calendar-button js-calendar-button" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p style='font-size:10px;font-weight:lighter;text-align:center;'>Ajouter au calendrier</p>"><i class="fas fa-plus"></i></button>
                    <button type="button" data-event-id="<%= event.id %>" class="btn btn-secondary add-to-calendar-button d-none js-calendar-button background-green" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p style='font-size:10px;font-weight:lighter;text-align:center;'>L'évènement est dans ton calendrier</p>"><i class="fas fa-check"></i></button>
                  <% end %>
                <% else %>
                  <button type="button" class="btn btn-secondary add-to-calendar-button background-green" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p style='font-size:10px;font-weight:lighter;text-align:center;'>L'évènement est dans ton calendrier</p>"><i class="fas fa-check"></i></button>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
