
 <% if @shop.shop_photos.count < 1 %>

  <div class="banner-shop" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  </div>

 <% else  %>

  <div id="lightgallery">
    <div class="g-photo">
      <% cl_image_path @shop.shop_photos.first.photo, crop: :fill %>
        <%= cl_image_tag @shop.shop_photos.first.photo, height: 400, crop: :fill  %>
      <div class="mask"></div>
    </div>
    <div class="g-photo">
      <% cl_image_path @shop.shop_photos.first.photo, crop: :fill %>
        <%= cl_image_tag @shop.shop_photos.first.photo, height: 400, crop: :fill  %>
    </div>
    <div class="g-photo ">
      <% cl_image_path @shop.shop_photos.first.photo, crop: :fill %>
        <%= cl_image_tag @shop.shop_photos.first.photo, height: 400, crop: :fill%>
      <div class="mask"></div>
    </div>
  </div>

<!-- style="linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)" -->



<!-- il faudra utiliser un path pour le lien et un tag pour l'image -->
<% end %>

<div class="container">
  <%= link_to search_cities_path(query: @city.name) do %>
    <div class="back-to-index-button-show-shop">
      <p> <i class="fas fa-arrow-circle-left"></i>Retour</p>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 col-sm-offset-4">
      <div class="shop-show-main">
        <h2><%= @shop.name %></h2>
        <p><%= @shop.address %></p>
        <div class="open-status">
          <p> Ouvert </p>
        </div>
        <div class="send-message">
          <%= link_to new_shop_user_message_path(@shop, current_user) do %>
          <i class="far fa-envelope"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="shop-content">

    <div class="shop-feed">
      <h6>Les dernières offres et évènements de <%= @shop.name %> </h6>
      <% @shop.events.each do |event| %>

        <div class=" shop-page-events-card [ is-collapsed ] ">
          <div class="shop-page-events-card__inner [ js-expander ]">
            <div class="event-free_card event-shop-show-free_card">
              <div class="event-info_section">
                <div class="event-free_header">
                  <h3><strong><%= event.category %></strong></h3>
                  <h4>Boutique : <%= event.shop.name %></h4>
                  <h4><%= event.name %></h4>
                  <h5>Jusqu'au <%= event.end_date.day %> <%= @months["#{event.end_date.month}"] %> <%= event.end_date.year %></h5>
                </div>
              </div>
              <div class="event-blur_back" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill %>');"></div>
            </div>

            <div class="event-more">
              <i class="fas fa-plus-circle"></i>
              <i class="far fa-envelope"></i>
            </div>
          </div>
          <div class="shop-page-events-card__expander">
            <i class="fas fa-times [ js-collapser ]"></i>
            Expander
          </div>
        </div>


      <% end %>
    </div>

    <div class="shop-info-map">

      <div class="shop-info">
        <p> Téléphone : <%= @shop.phone_number %></p>
        <p> Adresse : <%= @shop.address %> </p>
        <p> Website : </p>
        <p> Horaires :</p>
      </div>

      <div class="shop-map">
        <div id="map"
          style="width: 100%"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>

    </div>

  </div>
</div>
