<% if @shop.shop_photos.count < 1 %>

  <div class="banner-shop" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('@shop.shop_photos');">
  </div>

 <% else  %>

  <div id="lightgallery">
    <div class="g-photo" data-src="<%= @shop.shop_photos.first.photo.url %>">
      <%= link_to @shop.shop_photos.first.photo.url do %>
        <%= cl_image_tag @shop.shop_photos.first.photo, height: 400, crop: :fill  %>
      <% end %>
      <div class="mask"></div>
    </div>
    <div class="g-photo" data-src="<%= @shop.shop_photos.first.photo.url %>">
      <%= link_to @shop.shop_photos.first.photo.url, crop: :fill do %>
        <%= cl_image_tag @shop.shop_photos.first.photo, width: 700, height: 400, crop: :fill  %>
        <% end %>
    </div>
    <div class="g-photo " data-src="<%= @shop.shop_photos.first.photo.url %>">
      <%= link_to @shop.shop_photos.first.photo.url, crop: :fill do %>
        <%= cl_image_tag @shop.shop_photos.first.photo, height: 400, crop: :fill%>
      <% end %>
      <div class="mask"></div>
    </div>
  </div>


<% end %>

<div class="container">
  <div class="shop-head">
    <div class="shop-description">
      <div class="title-open">
      <h2><%= @shop.name %></h2>
      </div>
      <div class="desc">
         <p> <%= @shop.description %> </p>
      </div>
    </div>
    <div class="shop-main-info-message">
      <div class="shop-main-info">
        <h6> Infos </h6>
        <div class="info-singular">
          <i class="fas fa-map-marker-alt"></i><p> <%= @shop.address %></p>
        </div>
        <div class="info-singular">
          <i class="fas fa-phone"></i><p> <%= @shop.phone_number %></p>
        </div>
        <div class="info-singular info-singular-open">
          <i class="fas fa-clock"></i><p></p>
          <h4>OUVERT</h4>
        </div>
      </div>
        <% if current_user != @shop.user %>
          <%= link_to new_shop_user_message_path(@shop, current_user) do %>
          <div class="send-message-show">
            <p>Chatter avec le commercant</p>
            <i class="fas fa-comments"></i>
          </div>
          <% end %>
        <% else %>
        <% end %>
    </div>
  </div>

  <div class="shop-body">
    <div class="shop-events">
      <h3 class="black-headers">Les évènements organisés par <%= @shop.name %></h3>
      <div class="row">
        <div class="col-sm-4">
          <% if @shop_events == [] %>
            <p><%= @shop.name%> n'a pas d'évènements programmés</p>
          <% else %>
            <% @shop_events.each do |event| %>
              <div class="evenement-card-link" data-toggle="modal" data-target="#exampleModal">
                <div class="evenement-card for_modal" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill, gravity: :center; %>');">
                  <div class="evenement-card-category">
                    <h3><%= event.shop.category %></h3>
                  </div>
                  <div class="evenement-card-description">
                    <h3><%= event.name %></h2>
                    <h3><%= event.shop.name %></h3>
                  </div>
                  <div class="evenement-date-description">
                    <p><i class="far fa-clock"></i> Le <%= event.end_date.day %> <%= @months["#{event.end_date.month}"] %> <%= event.end_date.year %></p>
                  </div>
                </div>
                <div class="add-to-calendar-link">
                  <% if current_user.calendars.where(event_id: event.id) == [] %>
                    <%= link_to city_shop_event_calendars_path(@city, event.shop, event), method: :post, remote: true do %>
                      <button type="button" data-event-id="<%= event.id %>" class="btn btn-secondary add-to-calendar-button js-calendar-button">
                        <div class="button-to-calendar-description">
                          Ajouter au calendrier
                        </div>
                          <i class="fas fa-plus"></i>
                      </button>
                      <button type="button" data-event-id="<%= event.id %>" class="btn btn-secondary add-to-calendar-button d-none js-calendar-button background-green">
                        <i class="fas fa-check"></i>
                      </button>
                    <% end %>
                  <% else %>
                    <button type="button" class="btn btn-secondary add-to-calendar-button background-green"><i class="fas fa-check"></i></button>
                  <% end %>
                </div>
              </div>
              <%= render 'shared/modal_event', event: event %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="shop-offers">
      <h3 class="black-headers">Les offres proposées par <%= @shop.name %> </h3>
      <div class="row">
        <div class="col-sm-4">
          <% if @shop_offers == [] %>
            <p><%= @shop.name %> n'a pas d'offres en cours ou à venir </p>
          <% else %>
            <% @shop_offers.each do |event| %>
              <div class="offer-card-link">
                <div class="event-free_card for_modal" data-toggle="modal" data-target="#EventModal">
                  <div class="event-blur_back" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill %>');">
                    <div class="event-shop-name">
                      <h4><%= event.shop.name %></h4>
                    </div>
                    <div class="event-offer-name">
                      <h3 class="h4-title-on-card"><%= event.name %></h3>
                    </div>
                    <div class="event-offer-date">
                      <h4>Jusqu'au <%= event.end_date.day %>/<%= event.end_date.month%>/<%= event.end_date.year %></h4>
                    </div>
                  </div>
                </div>
                <div class="add-to-calendar-offer-link special-for-show">
                  <% if current_user.calendars.where(event_id: event.id) == [] %>
                    <%= link_to city_shop_event_calendars_path(@city, event.shop, event), method: :post, remote: true do %>
                      <button type="button" data-event-id="<%= event.id %>" class="btn btn-secondary add-to-calendar-button js-calendar-button">
                        <div class="button-to-calendar-description">
                          Ajouter au calendrier
                        </div>
                          <i class="fas fa-plus"></i>
                      </button>
                      <button type="button" data-event-id="<%= event.id %>" class="btn btn-secondary add-to-calendar-button d-none js-calendar-button background-green">
                        <i class="fas fa-check"></i>
                      </button>
                    <% end %>
                  <% else %>
                    <button type="button" class="btn btn-secondary add-to-calendar-button background-green"><i class="fas fa-check"></i></button>
                  <% end %>
                </div>
              </div>
              <%= render 'shared/modal_offers', event: event %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="access">
      <h3 class="black-headers" >Accès</h3>
      <div class="shop-map">
        <div id="map"
          style="width: 100%"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

    <div class="also">
      <h3 class="black-headers">Vous pourriez aussi aimer ... </h3>
      <div class="row">
          <% similar_events = Shop.where(category: @shop.category ) %>
          <% similar_events.each do |shop| %>
          <div class="col-sm-4 other-shops">
            <div class="shop-card">
              <div class="shop-card__image shop-card__image--fence" style="background-image: url('<%= cl_image_path shop.shop_photos.first.photo, :width=>360, :height=>240, :crop=>"scale" %>');"></div>
              <div class="shop-card__content">
                <div class="shop-card__title"> <%= shop.name %> </div>
                <p class="shop-card__text"> <%= shop.category %> </p>
                <%= link_to "Voir cette boutique", city_shop_path(@city, shop), class: "shop-btn shop-btn--block shop-card__btn" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
