<% if @shop.shop_photos.count < 1 %>

  <div class="banner-shop" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('@shop.shop_photos');">
  </div>

 <% else  %>

  <div id="lightgallery">
    <div class="g-photo" data-src="<%= @shop.shop_photos.first.photo.url %>">
      <%= link_to @shop.shop_photos.first.photo.url do %>
        <%= cl_image_tag @shop.shop_photos.first.photo, height: 400, crop: :fill  %>
      <% end %>
      <div class="mask"></div>
    </div>
    <div class="g-photo" data-src="<%= @shop.shop_photos.first.photo.url %>">
      <%= link_to @shop.shop_photos.first.photo.url, crop: :fill do %>
        <%= cl_image_tag @shop.shop_photos.first.photo, width: 700, height: 400, crop: :fill  %>
        <% end %>
    </div>
    <div class="g-photo " data-src="<%= @shop.shop_photos.first.photo.url %>">
      <%= link_to @shop.shop_photos.first.photo.url, crop: :fill do %>
        <%= cl_image_tag @shop.shop_photos.first.photo, height: 400, crop: :fill%>
      <% end %>
      <div class="mask"></div>
    </div>
  </div>


<% end %>

<div class="container">
  <div class="shop-head">
    <div class="shop-description">
      <div class="title-open">
      <h2><%= @shop.name %></h2>
      <h4>OUVERT</h4>
      </div>
      <div class="desc">
         <%= "Carousels don’t automatically normalize slide dimensions. As such, you may need to use additional utilities or custom styles to appropriately size content. While carousels support previous/next controls and indicators, they’re not explicitly required. Add and customize as you see fit.Be sure to set a unique id on the .carousel for optional controls, especially if you’re using multiple carousels on a single page."%>
      </div>
    </div>
    <div class="shop-main-info-message">
      <div class="shop-main-info">
        <h6> Infos </h6>
        <div class="info-singular">
          <i class="fas fa-map-marker-alt"></i><p> <%= @shop.address %></p>
        </div>
        <div class="info-singular">
          <i class="fas fa-clock"></i><p></p>
        </div>
        <div class="info-singular">
          <i class="fas fa-phone"></i><p> <%= @shop.phone_number %></p>
        </div>
      </div>
      <div class="send-message">
        <% if current_user != @shop.user %>
          <%= link_to new_shop_user_message_path(@shop, current_user) do %>
          <p>Chatter avec le commercant</p>
          <i class="fas fa-comments"></i>
          <% end %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="shop-body">
    <div class="shop-events">
      <h3>Les évènements organisés par <%= @shop.name %></h3>
      <div class="row">
        <div class="col-sm-4">
          <% @shop_events.each do |event| %>

          <%= render partial: 'shared/modal_event', locals: {event: event} %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="shop-offers">
      <h3>Les offres proposées par <%= @shop.name %> </h3>
      <div class="row">
        <div class="col-sm-4">
          <% @shop_offers.each do |event| %>

          <%= render partial: 'shared/modal_offers', locals: {event: event} %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="access">
      <h3>Accès</h3>
      <div class="shop-map">
        <div id="map"
          style="width: 100%"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

    <div class="also">
      <h3>Vous pourriez aussi aimer ... </h3>
      <div class="row">
        <div class="col-sm-4">

        </div>
      </div>
    </div>
  </div>

</div>
