<div class="text-center-banner-search banner-content">
  <div class="banner banner-cities" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://picsum.photos/1500/1200/?<%= params[:query] %>');">
    <div class="banner-text">
      <h2>(Re)Découvre <%= params[:query] %> <br> avec nous !</h2>
      <span class="welcome-back" id="banner-typed-text"></span>
      <p id="user-name-to-hide"><%= current_user.first_name %></p>
    </div>
    <div class="search">
      <div class="search-bar">
        <%= form_tag search_shop_cities_path, method: :get do %>
          <%= text_field_tag :query_shops, params[:query_shops], :class => "form-control",placeholder: "Inscris ici ce que tu cherches --> 'Mode' / 'Nike' / 'Alimentation'" %>
          <input type="hidden" name="city_id" value=<%= @city.id %>>
        <% end %>
      </div>
    </div>
  </div>
</div>
