<div class="evenement-card-link">
  <%= link_to city_shop_path(@city, event.shop) do %>
    <div class="evenement-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path event.event_photos.first.photo, :width=>375, :height=>257, :crop=>"scale" %>');">
      <div class="evenement-card-category">
        <h3><%= event.shop.category %></h3>
      </div>
      <div class="evenement-card-description">
        <h3><%= event.name %></h2>
        <h3><%= event.shop.name %></h3>
      </div>
      <div class="evenement-date-description">
        <p><i class="far fa-clock"></i> Le <%= event.end_date.day %> <%= @months["#{event.end_date.month}"] %> <%= event.end_date.year %></p>
      </div>
    </div>
  <% end %>

  <div class="add-to-calendar-link">
    <% if current_user.calendars.where(event_id: event.id) == [] %>
      <%= link_to city_shop_event_calendars_path(@city, event.shop, event), method: :post, remote: true do %>
        <button type="button" data-event-id="<%= event.id %>" class="btn btn-secondary add-to-calendar-button js-calendar-button">
          <div class="button-to-calendar-description">
            Ajouter au calendrier
          </div>
            <i class="fas fa-plus"></i>
        </button>
        <button type="button" data-event-id="<%= event.id %>" class="btn btn-secondary add-to-calendar-button d-none js-calendar-button background-green">
          <i class="fas fa-check"></i>
        </button>
      <% end %>
    <% else %>
      <button type="button" class="btn btn-secondary add-to-calendar-button background-green"><i class="fas fa-check"></i></button>
    <% end %>
  </div>
</div>

