<div class="col-xs-12 col-sm-4" data-calendar-id="<%= calendar.id %>">
  <div class="evenement-card-link">
    <%= link_to city_shop_path(@city, event.shop) do %>
      <div class="evenement-card margin-top-bottom-10%" style="background-image: url('<%= cl_image_path event.event_photos.first.photo, :crop=>"scale" %>');">
        <div class="evenement-card-category">
          <h3><%= event.shop.category %></h3>
        </div>
        <div class="evenement-card-description">
          <h3><%= event.name %></h2>
          <h3><%= event.shop.name %></h3>
        </div>
        <div class="evenement-date-description">
          <p><i class="far fa-clock"></i> Le <%= event.end_date.day %> <%= @months["#{event.end_date.month}"] %> <%= event.end_date.year %></p>
        </div>
      </div>
    <% end %>

    <div class="add-to-calendar-link">
      <%= link_to calendar_path(calendar), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cet évênement ?" }, remote: true do %>
        <button type="button" data-shop-id="<%= event.id %>" class="btn btn-secondary add-to-calendar-button js-calendar-button">
          <div class="button-to-calendar-description">
            Supprimer du calendrier
          </div>
          <i class="fas fa-trash-alt"></i>
        </button>
      <% end %>
    </div>
  </div>
</div>
