<div class="modal fade" id="EventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel"> <%= event.name %> </h4>
        </div>
        <div class="modal-body">
          <div class="photo-event-gallery modal-slick">
            <% event.event_photos.each do |photo| %>
            <%= cl_image_tag photo.photo, width: 548, height: 325, :crop=>"fill" %>
            <% end %>
          </div>
          <div class="event-modal-description">
            <h5><%= event.description %></h5>
          </div>
        </div>
        <div class="event-modal-footer">
          <%= link_to new_shop_user_message_path(@shop, current_user), method: :get do  %>
            <button type="button" class="btn-modal" data-dismiss="modal"> <i class="fas fa-envelope"></i> </button>
          <% end %>
          <%= link_to city_shop_event_calendars_path(@city, event.shop, event), method: :post do %>
            <button type="button" class="btn-modal left-btn"> <i class="fas fa-calendar-alt"></i> </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
