<div class="shop-cards__item col-xs-12 col-sm-4">
  <div class="shop-card">
    <div class="shop-card__image shop-card__image--fence" style="background-image: url('<%= cl_image_path shop.shop_photos.first.photo, :width=>360, :height=>240, :crop=>"scale" %>');"></div>
    <div class="shop-card__content">
      <div class="shop-card__title"> <%= shop.name %> </div>
      <p class="shop-card__text"> <%= shop.category %> </p>
      <%= link_to "Voir cette boutique", city_shop_path(@city, shop), class: "shop-btn shop-btn--block shop-card__btn" %>
    </div>
  </div>
  <div class="add-to-favorite-link">
    <%= link_to city_shop_favorites_path(@city, shop), method: :post do %>
      <button type="button" class="btn btn-secondary add-to-calendar-button" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p style='font-size:10px;font-weight:lighter;text-align:center;width:50px;'>Ajouter à mes favoris</p>">+</button>
    <% end %>
  </div>
</div>
