<div class="container-tab-calendar">
  <ul class="list-inline text-center calendars-tabs">
    <li class="tab-calendar active tab-radius-left" data-target="tabs-infos">Informations</li>
    <li class="tab-calendar tab-radius-middle" data-target="tabs-shops">Magasins</li>
    <li class="tab-calendar tab-radius-middle" data-target="tabs-events">Événements</li>
    <li class="tab-calendar tab-radius-right" data-target="tabs-deals">Bons Plans</li>
  </ul>
</div>

<div class="container text-center">
  <div class="calendars-tab-content active " id="tabs-infos">
    <%= link_to "Mettre à jour mes informations", edit_user_registration_path %>
    <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
  </div>

  <div class="calendars-tab-content" id="tabs-shops">
    <% if @shops.nil? %>
      <h4>Personnalises ta page en ajoutant tes <strong> magasins </strong> préférés !</h4>
      <%#= link_to "offers", "http://hexagone.site/cities/city?query=#{@city.id}"%>
      <%= link_to "+ de magasins", "http://localhost:3000/cities/city?query=#{@city.id}"%>
    <% elsif %>
      <div class="tab-deal-content">
        <% @shops.each do |shop| %>
          <%= shop %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="calendars-tab-content" id="tabs-events">
    <% if @calendars.nil? %>
      <div class="tab-deal-title">
      <h4>Personnalises ta page en ajoutant les <strong> évènements </strong> que tu ne veux pas louper !</h4>
      <%#= link_to "offers", "http://hexagone.site/cities/shops?city_id=#{@city.id}&query_shops=offers"%>
      <%= link_to "+ d'évènements", "http://localhost:3000/cities/shops?city_id=#{@city.id}&query_shops=events"%>
      </div>
    <% elsif %>
      <div class="tab-deal-content">
        <% @calendars.each do |calendar| %>
          <%= calendar if calendar.event.category == "Evènement" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="calendars-tab-content " id="tabs-deals">
    <% if @events.nil? %>
      <div class="tab-deal-title">
      <h4>Personnalises ta page en ajoutant les meilleures <strong> bons plans </strong> du moment !</h4>
      <%#= link_to "offers", "http://hexagone.site/cities/shops?city_id=#{@city.id}&query_shops=offers"%>
      <%= link_to "+ de bons plans", "http://localhost:3000/cities/shops?city_id=#{@city.id}&query_shops=offers"%>
      </div>
    <% elsif %>
      <div class="tab-deal-content">
        <% @calendars.each do |calendar| %>
          <%= calendar if calendar.event.category == "Bon plan" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
