

<%= render 'shared/banner_cities' %>


<div class="container">
  <div class="best-events">
    <h2>Les offres de la semaine</h2>
    <div class="row">
      <% @best_events.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.event_photos.first, crop: :fill %>');">
            <div class="card-category"><%= event.category %></div>
            <div class="card-description">
              <h3><%= event.name %></h3>
              <p><%= event.shop.name %></p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<div class="shop-card">
  <div class="shop-card-head" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="shop-category"><%= shop.category %></div>
  </div>
<div class="shop-card-body">
  <div class="reviews">
  </div>
  <div class="offer">
  </div>
  </div>
</div>

  <div class="last-events">
   <h2>Les nouveautés</h2>
  </div>
  
</div>


