

<%= render 'shared/banner_cities' %>


<div class="container">
  <div class="best-events">
    <h2>Les offres de la semaine</h2>
    <div class="row">
      <% @city.events.first(3).each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill %>');">
            <div class="card-event-hidden">
              <p><%= event.description %></p>
              <%= link_to "", root_path, class: "card-link" %>
              <div class="end-date-hidden"><p>Jusqu'au vendredi X décembre</p></div>
            </div>
            <div class="card-category"> <h5><%= event.category %></h5> </div>
            <div class="card-description">
              <h3><%= event.name %></h3>
              <h5><%= event.shop.name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h2>Les meilleurs magasins</h2>
  <div class="flexbox">
    <% @city.shops.first(2).each do |shop| %>
      <div class="shop-card">
        <div class="card-head" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempicsum.com/futurama/350/200/1');">
        </div>
        <div class="card-body">
          <div class="card-category-shop"> <%= shop.category %> </div>
          <div class="card-name-shop"> <%= shop.name %> </div>
          <div class="card-description-shop"> <%= shop.name %> </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="last-events">
    <h2>Les nouveautés</h2>
    <div class="row">
      <% @last_events.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card card-hovered" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill %>');">
            <div class="card-event-hidden">
              <p><%=  event.description %></p>
              <%= link_to "", root_path, class: "card-link" %>
              <div class="end-date-hidden"><p>Jusqu'au vendredi X décembre</p></div>
            </div>
            <div class="card-category"> <h5><%= event.category %></h5> </div>
            <div class="card-description">
              <h3><%= event.name %></h3>
              <h5><%= event.shop.name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="incoming-events">
    <h2>Prochainement</h2>
    <div class="row">
      <% @last_events.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card-incoming" style="background-image: linear-gradient(rgba(206,206,206,0.7), rgba(206,206,206,0.7)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill %>');">
            <div class="card-event-hidden">
              <%= link_to "", root_path, class: "card-link" %>
              <div class="end-date-hidden"><p>A partir du vendredi X décembre</p></div>
            </div>
            <div class="card-category"> <h5><%= event.category %></h5> </div>
            <div class="card-description">
              <h3><%= event.name %></h3>
              <h5><%= event.shop.name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>






