<%= render 'shared/banner_cities' %>
<br>
<div class="wrapper wrapper-des-section-titles">
  <div class="check-offers">
    <%= link_to search_shop_cities_path(query_shops: "offers", city_id: @city.id) do %>
      <div class="card-section-title">
        <h3>Promos</h3>
        <p><i class="fas fa-arrow-alt-circle-right"></i> Toutes les promos</p>
      </div>
      <div class="card-section-explanatory-p">
        <h4>Check les <strong>promos</strong> de tes commerçants et deviens l'expert(e) bons plans auprès de tes amis !</h4>
      </div>
    <% end %>
  </div>
</div>
<div class="wrapper wrapper-des-cards">
  <div class="row events-with-slick">
    <% @city_offers.each do |event| %>
      <%= render partial: 'shared/city_show_offers_card', locals: {event: event} %>
    <% end %>
  </div>
</div>
<br>

<div class="wrapper wrapper-des-section-titles">
  <div class="check-events best-events">
    <%= link_to search_shop_cities_path(query_shops: "events", city_id: @city.id) do %>
      <div class="card-section-title">
          <h3>Evènements</h3>
          <p><i class="fas fa-arrow-alt-circle-right"></i> Tous les évènements</p>
      </div>
      <div class="card-section-explanatory-p">
        <h4>Jette un coup d'oeil aux <strong>évènements</strong> et découvre de nouveaux commerçants !</h4>
      </div>
    <% end %>
  </div>
</div>
<div class="wrapper wrapper-des-cards">
  <div class="row events-with-slick evenement-card-flexbox">
    <% @city_events.each do |event| %>
      <%= render partial: 'shared/city_show_event_card', locals: {event: event} %>
    <% end %>
  </div>
</div>
<br>
<div class="wrapper wrapper-des-section-titles">
  <hr>
  <div class="shops-all">
    <div class="card-section-title">
      <h3>Boutiques</h3>
    </div>
    <div class="card-section-explanatory-p">
      <h4>Repère de nouvelles boutiques et renouvelle tes habitudes ! </h4>
    </div>
  </div>
</div>
<div class="wrapper wrapper-des-shops">
  <div class="shop-cards relative-position">
    <% @city.shops.each do |shop| %>
      <%= render partial: 'shared/shop_card', locals: {shop: shop} %>
    <% end %>
  </div>
</div>
