

<%= render 'shared/banner_cities' %>

<div class="container">
    <div class="events-list">
    <h2>Les meilleurs magasins</h2>
    <div class="row">
      <% @city.shops.first(3).each do |shop| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to root_path do %>
            <div class="shop-card">
              <div class="shop-card-head" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="shop-category"><%= shop.category %></div>
                <div class="shop-address"></div>
                <div class="description-hidden-shop">
                  <%= shop.description %>
                </div>
              </div>
              <div class="shop-card-body">
                <div class="reviews">
                </div>
                <div class="offer">

                </div>
              </div>
            </div>
          <% end %>
          <a class="card-link" href="#" ></a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="events-list">
    <h2>Les offres de la semaine</h2>
    <div class="row">
      <% @best_events.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to root_path do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill %>');">
              <div class="card-event-hidden">
                <p><%=  event.description %></p>
                <%= link_to "", root_path, class: "card-link" %>
                <div class="end-date-hidden"><p>Jusqu'au <%= event.end_date.day %> <%= @months["#{event.end_date.month}"] %> <%= event.end_date.year %></p></div>
              </div>
              <div class="card-category"> <h5><%= event.category %></h5> </div>
              <div class="card-description">
                <h3><%= event.name %></h3>
                <h5><%= event.shop.name %></h5>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="last-events">
    <h2>Les nouveautés</h2>
    <div class="row">
      <% @recent_events.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to root_path do %>
            <div class="card card-hovered" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill %>');">
              <div class="card-event-hidden">
                <p><%=  event.description %></p>
                <%= link_to "", root_path, class: "card-link" %>
                <div class="end-date-hidden"><p>Jusqu'au <%= event.end_date.day %> <%= @months["#{event.end_date.month}"] %> <%= event.end_date.year %></p></div>
              </div>
              <div class="card-category"> <h5><%= event.category %></h5> </div>
              <div class="card-description">
                <h3><%= event.name %></h3>
                <h5><%= event.shop.name %></h5>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="incoming-events">
    <h2>Prochainement</h2>
    <div class="row">
      <% @incoming_events.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to root_path do %>
            <div class="card-incoming" style="background-image: linear-gradient(rgba(206,206,206,0.7), rgba(206,206,206,0.7)), url('<%= cl_image_path event.event_photos.first.photo, crop: :fill %>');">
              <div class="card-event-hidden">
                <%= link_to "", root_path, class: "card-link" %>
                <div class="end-date-hidden">
                  <p>A partir du <%= event.start_date.day %> <%= @months["#{event.start_date.month}"] %> <%= event.start_date.year %> ! Restez attentifs !</p>
                </div>
              </div>
              <div class="card-category"> <h5><%= event.category %></h5> </div>
              <div class="card-description">
                <h3><%= event.name %></h3>
                <h5><%= event.shop.name %></h5>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>






