<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hexagone</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>

  </head>
  <body style="background-color: #f0ece2">
    <% if @navbar == false %>
    <% else  %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <% if @footer == false %>
    <div class="sticky-footer-message"> <%= yield %> </div>
    <% else %>
    <div class="sticky-footer"> <%= yield %> </div>
    <%= render 'shared/footer' %>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

